<div class="card-container">
  <mat-card
    *ngFor="let p of products.slice(0, 10)"
    class="card mat-elevation-z4"
    appearance="outlined"
  >
    <button mat-icon-button class="delete-button" (click)="deleteProduct(p.id)">
        <mat-icon>delete</mat-icon>
    </button>
    <img mat-card-image src="{{ p.image }}" alt="Foto de {{ p.name }}" />
    <mat-card-content>
      <mat-card-title>{{ p.name }}</mat-card-title>
      <p>
        {{ p.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-button-toggle-group
        hideSingleSelectionIndicator="true"
        name="accept-toggle"
        aria-label="Accept Toggle"
      >
        <mat-button-toggle class="approve" value="approve">
          <mat-icon>check</mat-icon>
          Aprobado
        </mat-button-toggle>
        <mat-button-toggle class="disapprove" value="disapprove">
          <mat-icon>close</mat-icon>
          Desaprobado
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>
